{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="container">
  
            <div class="card">
                <div class="card-title">
                    <div class="col ml-auto">
                        <table class="table ">
                            <tbody>
                              
                              <tr>
                                 
                                <td>{{profile.user}}</td>
                            
                            </tbody>
                          </table>
                    </div>
        
                </div>
         
            </div>
</div>

{% endblock main %}